@model ReporteMensualModel

@{
    ViewData["Title"] = "Reporte Mensual";

    int anioAnterior = Model.Anio - 1;
    int anioPosterior = Model.Anio + 1;
    var resumenMontos = new ResumenMontosModel() {
        Gastos = Model.Gastos,
        Ingresos = Model.Ingresos,
        Total = Model.Total
    };
}

<h1>Transacciones
    <a asp-action="Crear" class="btn btn-success" style="float: right;">Crear Transacción</a>
</h1>
<hr />

<partial name="_SubMenu" model="SubMenuModel.Mensual"></partial>

<h4>Mostrando Transacciones de
    <a asp-route-anio="@anioAnterior" class="btn btn-success">
        <i class="bi-chevron-left"></i>
    </a>@Model.Anio

    <a asp-route-anio="@anioPosterior" class="btn btn-success">
        <i class="bi-chevron-right"></i>
    </a>
</h4>

<partial name="_ResumenMontos" model="@resumenMontos"></partial>

<table class="table table-hover" style="font-size: 18px;">
    <thead>
        <tr style="background-color: lightblue">
            <th>Mes</th>
            <th style="text-align: right">Ingresos</th>
            <th style="text-align: right">Gastos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaccionMes in Model.TransaccionesMes) {
            <tr>
                <td>
                    <a style="text-decoration: none;"
                       asp-action="Index"
                       asp-route-anio="@Model.Anio"
                       asp-route-mes="@transaccionMes.Mes">
                        @transaccionMes.FechaReferencia.ToString("MMM")
                    </a>
                </td>
                <td class="activo" style="text-align: right">
                    $ @transaccionMes.Ingreso
                </td>
                <td class="pasivo" style="text-align: right">
                    $ @transaccionMes.Gasto
                </td>
            </tr>
        }
    </tbody>
</table>