@model IEnumerable<TipoCuentaModel>

@{
    ViewData["Title"] = "Tipos Cuentas";
}

<h1>Tipos de Cuentas
    <a asp-action="Crear" class="btn btn-success" style="float: right;">Crear Tipo Cuenta</a>
</h1>
<hr />
<h5>El tipo de cuenta se referie a cómo podemo agrupar cuentas. 
    Ejemplo: Préstamos, Tarjetas de Crédito, Tarjetas de Débito, Vales, etc.
</h5>




<table class="table table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="reordenable">
        @foreach (var tipoCuenta in Model) {
            <tr>
                <td>
                    @tipoCuenta.Nombre
                </td>
                <td>
                    <input type="hidden" value="@tipoCuenta.Id" class="ids">
                    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@tipoCuenta.Id">
                        <i class="bi-pencil-fill"></i>
                        Editar
                        </a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@tipoCuenta.Id">
                        <i class="bi-trash-fill"></i>
                        Borrar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        const urlOrdenar = '@Url.Action("ordenarTipoCuenta")';

        $(function() {
            $("#reordenable").sortable({
                stop: async function(e, ui) {
                    await actualizarOrdenes();
                }
            });

            async function actualizarOrdenes() {
                const ids = obtenetIdsElementos();
                await enviarIdsBackend(ids);
            }

            function obtenetIdsElementos() {
                const ids = $(".ids").map(function() {
                    return $(this).val();
                }).get();

                return ids;
            }

            async function enviarIdsBackend(ids) {
                var data = JSON.stringify(ids);

                await fetch(urlOrdenar, {
                    method: 'POST',
                    body: data,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
            }
        })
    </script>
}